#hd-request{
	
	#request-panel-body{
		width: 277.5px !important;
		min-height: 284px !important;
		background-color: #fff;
		border-radius: 5px;
		// padding: 35px 20px 35px 20px;

		>.panel_actions{
			border-top:transparent;
		}
	}

	.panel_rows {
		border-radius: 5px;

		li{
			padding: 15px 20px 0px 20px !important;
		// border-bottom: 1px #ebebeb solid;
		
		&:first-child{
			padding: 35px 20px 0px 20px !important;
		}		

		.user_profile_link_span{
			a{
				font-family: $noto-sans;
				font-weight: bold;
				font-size: 14px;
				line-height: 1.1;
				color: #4d5a6f !important;
			}
		}

		.panel_rows_time{
			font-family: $noto-sans;
			color: #9a9a9a;
			font-size: 13px;
		}

		.panel_row{
			padding-bottom: 20px;
		}
	}
}

.panel_rows_image{
	top:0 !important;
	left: 0 !important;

	a{
		width: 50px !important;
		height: 50px !important;
		border-radius: 50px;

		span{
			position:absolute;
			left: 50%;
			top:50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	._image_50{
		border-radius: 50px;
	}
}

.panel_rows_content{
	margin-left: 65px;
	padding-top: 5px;
	padding-bottom:0;
}

.panel_action{
	border: transparent !important;
	margin-bottom: 24px;

	span{
		padding: 5px 30px;
		border-radius: 20px;
		font-family: $noto-sans;
		font-weight: bold;

		&:first-of-type{
			position:absolute;
			left:0;
			color: #fff;
			background-color: #5dc5ce;
			border: 1px solid #5dc5ce;
		}

		&:not(:first-of-type){
			position: absolute;
			right:0;
			color: #ff7079;
			border: 1px solid #ff7079;
			background-color: #fff;
		}
	}
}

}