.header-right-menu {
  position: relative;
  top: 7px;
  li {
    padding: 0;
    margin: 0 2px !important;
    .btn-abr {
      background: transparent;
      transition: all 0.5s ease;
      position: relative;
    }
    .fa {
      font-size: 20px;
      z-index: 3;
      position: absolute;
      top: 8px;
      right: 10px;
    }
  }
  li.open, li:hover {
    .dropdown-panel {

    }
    .btn-abr {
      background: transparent;
      color: #5dc5ce;
    }
  }
  .dropdown-menu,
  .dropdown-panel {
    margin-top: 12px;
    i {display: none;}
    &:after {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      content: "";
      position: absolute;
      top: -10px;
      right: 20px;
    }
  }

  #hd-cof .fa {right: 11px;}
  #hd-request .fa {right: 8px;}

  #hd-user {
    margin-right: 7px !important;
    img {
      width: 35px;
      height: 35px;
      border-radius: 100px;
      display: inline-block !important;
      margin-right: 10px;
      position: relative;
      top: -7px;
    }
    a span {
      height: 19px;
      font-family: $noto-sans;
      font-size: 14px;
      color: $c-white;
    }
  }

  #hd-cof.open {
    .dropdown-menu {
      width: 280px;
      height: auto;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 0 20px;
      right: -10px;
      li {
        float: left;
        padding-top: 13px !important;
        padding-bottom: 7px;
        width: 100%;
        margin: 0 !important;
        position: relative;
        a {
          font-family: $noto-sans;
          font-weight: bold;
          font-size: 14px;
          line-height: 1.1;
          color: #4d5a6f;
          padding-left: 36px;
          position: relative;

          &:hover{
            color: #5dc5ce;
            background: #fff;
          }
        }
        &:first-child {
          padding-top: 30px !important;
        }

        &:last-child{
            padding-bottom: 25px !important;
        }

        a::after {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          top: 2px;
          left: 0;
        }
      }

      li:nth-child(1){
        a{
          &:after {
            background-image: url("images/ic-pref.png");
          }

          &:hover:after{
            background-image: url("images/ic-settings-hv.png");
          }
        }
      }

      li:nth-child(2) a{
        &:after {
          background-image: url("images/ic-edit-prof.png");
        }
        &:hover:after{
          background-image: url("images/ic-edit-profile-hv.png");
        }
      }

      li:nth-child(3) a{
        &:after {
          background-image: url("images/ic-friend.png");
        }
        &:hover:after{
          background-image: url("images/ic-manage-friend-hv.png");
        }
      }

      li:nth-child(4) a{
        &:after {
          background-image: url("images/ic-lock.png");
        }
        &:hover:after{
          background-image: url("images/ic-privacy-setting-hv.png");
        }
      }

      li:nth-child(6) a{
        &:after {
          background-image: url("images/ic-logout.png");
        }
        &:hover:after{
          background-image: url("images/ic-log-out-hv.png");
        }
      }

      &.is_admin {
        height: auto;
        li:nth-child(6) a{
          &:after {
            background-image: url("images/ic-admin.png");
          }
          &:hover:after{
            background-image: url("images/ic-admin-hv.png");
          }
        }
        li:nth-child(8) a{
          &:after {
            background-image: url("images/ic-logout.png");
          }
          &:hover:after{
            background-image: url("images/ic-log-out-hv.png") !important;
          }
        }  
      }


    }
  }

  #hd-request.open {
    #request-panel-body {
      width: initial;
      height: initial;
      background-color: #ffffff;
      min-width: initial;
      min-height: initial;
      padding: 0;
      border-radius: 5px;
      .message {
        border-radius: 5px;
        font-family: $noto-sans;
        font-weight: bold;
        font-size: 16px;
        color: #ff7079;
        background: $c-white;
        padding: 26px 50px 26px 47px;
        white-space: nowrap;
      }
    }
    .dropdown-panel {
      right: -20px;
      &:after {
        top: -9px;
        right: 33px;
      }
    }
  }

  &.no-avatar {
    #hd-user {
      > a {
        background: transparent;
        width: initial;
        height: initial;
      }
      span {
        width: 35px;
        height: 35px;
        border-radius: 100px;
        background: #2980b9;
        display: inline-block !important;
        margin-right: 10px;
        position: relative;
        top: -7px;
        i {
          font-style: normal;
          position: relative;
          top: -2px;
          left: 1px;
        }
      }
      a i {
        height: 19px;
        font-family: $noto-sans;
        font-size: 14px;
        color: $c-white;
        white-space: nowrap;
        font-style: normal;
      }
    }
  }

  #js_total_new_friend_requests, #js_total_new_notifications, #js_total_new_messages {
    padding: 0;
    height: initial;
    line-height: 1;
    font-size: 12px;
    letter-spacing: -0.1px;
    min-width: initial;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 25px;
    padding-top: 6px;
    font-family: $noto-sans;
    z-index: 2;
    position: absolute;
    top: -10px;
    left: 17px;
  }

  #hd-notification.open {
    .dropdown-panel {
      right: -25px;
      width: 280px;
      &:after {
        top: -9px;
        right: 33px;
      }
      .dropdown-panel-body {
        border-radius: 5px;
        min-width: initial;
        width: 100%;
        padding-bottom: 0;
        min-height: initial;
        .message {
          border-radius: 5px;
          font-family: $noto-sans;
          font-weight: bold;
          font-size: 16px;
          color: #ff7079;
          background: $c-white;
          padding: 26px 50px 26px 47px;
          white-space: nowrap;
        }
        .panel_actions {
          line-height: 46px;
          position: relative;
          background-color: #eeffff;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          > a {
            width: 100%;
            display: block;
            height: 46px;
            position: relative;
            &:before {
              content: '';
              width: 12px;
              height: 15px;
              background: red;
              position: absolute;
              top: 50%;
              background-image: url("images/ic-trash.png");
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              background-color: transparent;
              transform: translateY(-50%);
              left: calc(50% - 20px);
            }
            &:after {
              content: 'Delete';
              font-family: $noto-sans;
              font-size: 13px;
              color: #506077;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
      .panel_rows {
        padding-top: 0;
        max-width: 280px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-height: 360px;
        height: 100%;
        margin-top: 26px;
        li {
          padding: 0px 20px !important;
          margin: 0 !important;
          a:after {
            content: "";
            display: block;
            clear: both;
          }
          > a {
            height: 125px;
            border-bottom: 2px #dadada solid;
          }
          &:last-child {
            > a {
              border-bottom-width: 0px;
            }
          }
        }
        .notification_delete {
          width: 14px;
          height: 14px;
          display: block;
          background: 0 0;
          top: 6px;
          right: 20px;
          border: 1px solid #4d5a6f;
          border-radius: 14px;

          a.js_hover_title {
            width: 12px;
            height: 12px;
            display: block;
            border-radius: 14px;
            top: 0;
            right: 0;
            position: relative;
            background: white;
            span {
              display: none;
            }
            &:after, &:before {
              content: "";
              display: block;
              position: absolute;
              width: 8px;
              border: 1px solid #4d5a6f;
              top: 5px;
              left: 2px;
            }
            &:after {
              transform: rotate(45deg);
            }
            &:before {
              transform: rotate(-45deg);
            }
          }
        }
        .panel_rows_image {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          span.no_image_user {
            height: 100%;
            width: 100%;
            position: relative;
            span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          span.no_image_user, img {
            border-radius: 50px;
          }
        }
        .panel_rows_content {
          padding: 0;
          margin: 0;
          width: calc(100% - 60px);
          min-height: initial;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          left: 60px;
          .panel_focus {
            font-family: $noto-sans;
            font-size: 13px;
            color: #9a9a9a;
            max-height: 75px;
            overflow: hidden;
            span {
              font-family: $noto-sans;
              font-weight: bold;
              font-size: 14px;
              line-height: 1.2;
              color: #4d5a6f;
            }
          }
        }
        .panel_rows_time {
          display: none;
        }
      }
    }
  }
}