#hd-message{
	.dropdown-panel{
		width: 280px;

		&:after{
			top:-9px;
			right: 90px;
		}
	}

	.dropdown-panel-body {
		border-radius: 5px;
		min-width: initial;
		width: 100%;
		padding-bottom: 0;
		min-height: initial;
		right: 70px;
		.message {
			border-radius: 5px;
			font-family: $noto-sans;
			font-weight: bold;
			font-size: 16px;
			color: #ff7079;
			background: $c-white;
			padding: 26px 50px 26px 47px;
			white-space: nowrap;

			&+div{
				display:none;
			}
		}

		.panel_actions{
			border-top: transparent !important;
			bottom: 0 !important;
			background-color: white;
			border-radius: 5px;

			a{
				position: relative;
				display: inline-block;
				height: 16px;
				margin-right: 14px;

				.js_hover_info{
					display:inline;
					font-family: $noto-sans;
					font-size:13px;
					color: #506077;
					padding-left: 20px;
					display:none;
				}
				&:first-child{
					width: 78px;
					&:before{
						content:'';
						height: 16px; 
						width: 16px;
						position:absolute;
						top:0;
						left:0;
						background : url(../assets/images/ic-compose.png);
						background-size: 16px 16px;
						background-repeat: no-repeat;
					}

					&:after{
						content:'Compose';
						position:absolute;
						font-family: $noto-sans;
						font-size:13px;
						color: #506077;
						top: -11px;
						left: 22px;
					}
				}
				&:last-child{
					width: 64px;
					&:before{
						content:'';
						height: 16px; 
						width: 16px;
						position:absolute;
						top:0;
						left:0;
						background: url(../assets/images/ic-archive.png);
						background-size: 16px 16px;
						background-repeat: no-repeat;
					}

					&:after{
						content: 'Archive';
						position:absolute;
						font-family: $noto-sans;
						font-size:13px;
						color: #506077;
						top: -11px;
						left: 24px;
					}
				}
			}
		}
	}

	.panel_rows {
		padding-top: 0 !important;
		max-width: 280px;
		border-radius: 5px;
		max-height: 360px;
		height: auto !important;
		padding-bottom: 40px;
		// margin-top: 26px;
		li {
			padding-left: 20px !important;
			padding-right: 20px !important;
			margin: 0 !important;
			a:after {
				content: "";
				display: block;
				clear: both;
			}
			> a {
				height: 80px;
				border-bottom: 2px #dadada solid;
			}
			&:last-child {
				> a {
					border-bottom-width: 0px;
				}
			}

			.panel_rows_preview{
				font-family: $noto-sans;
				font-size: 14px;
				color: #9a9a9a;
				max-width: 160px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				position: relative;
				padding: 6px 10px;
				display: inline-block;

				&:before, &:after{
					content: '"';
					position: absolute;
					left: 0;
				}
				&:after{
					left: initial;
					right: 0;
				}
			}

			a.is_new{
				.panel_focus{
					&:before{
						color: #5dc5ce !important;
					}
				}
			}

			a{
				.panel_focus{
					max-width: 80px;
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: none;
					word-wrap: none;
					white-space: nowrap;

					&:before{
					    display: inline-block;
					    font-family: "FontAwesome";
					    font-style: normal;
					    font-weight: normal;
					    line-height: inherit;
					    font-size: inherit;
					    text-rendering: auto;
					    -webkit-font-smoothing: antialiased;
					    -moz-osx-font-smoothing: grayscale;
					    transform: translate(0, 0);
					    text-indent: 0px !important;
					    content: '\f111';
					    margin-right: 5px;
						color: #9a9a9a;
					}
				}
			}
		}
		.notification_delete {
			width: 14px;
			height: 14px;
			display: block;
			background: 0 0;
			top: 6px;
			right: 20px;
			border: 1px solid #4d5a6f;
			border-radius: 14px;

			a.js_hover_title {
				width: 12px;
				height: 12px;
				display: block;
				border-radius: 14px;
				top: 0;
				right: 0;
				position: relative;
				background: white;
				span {
					display: none;
				}
				&:after, &:before {
					content: "";
					display: block;
					position: absolute;
					width: 8px;
					border: 1px solid #4d5a6f;
					top: 5px;
					left: 2px;
				}
				&:after {
					transform: rotate(45deg);
				}
				&:before {
					transform: rotate(-45deg);
				}
			}
		}
		.panel_rows_image {
			width: 50px;
			height: 50px;
			position: absolute;
			top: 50%;
			left: 0px;
			transform: translateY(-50%);
			span.no_image_user {
				height: 100%;
				width: 100%;
				position: relative;
				span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			span.no_image_user, img {
				border-radius: 50px;
			}
		}
		.panel_rows_content {
			padding-top:20px;
			margin: 0;
			width: calc(100% - 70px);
			min-height: initial;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			left: 60px;

			.panel_focus {
				font-family: $noto-sans;
				font-size: 13px;
				color: #9a9a9a;
				max-height: 75px;
				overflow: hidden;
				span {
					font-family: $noto-sans;
					font-weight: bold;
					font-size: 14px;
					line-height: 1.2;
					color: #4d5a6f;
				}
			}

			.panel_rows_time{
				margin-top: 0;
				position: absolute;
				top:0;
				right:0;
				font-family: $noto-sans;
				font-size: 11px;
				color: #9a9a9a;
				padding-top:20px;
			}
		}
	}
}