.post-photo {
  padding: 0;
  width: 100%;
  margin-top: -20px;
  border-radius: 5px;
  display: block;
  margin-bottom: 15px;
  img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
  }
}

.single-post,
.js_temp_new_feed_entry.js_feed_view_more_entry_holder  {
  margin-bottom: 20px;
  > .js_user_feed {
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 0px !important;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .activity_feed_image{
    a {border-radius: 50px;}
    img {border-radius: 50px;}
  }
  .activity_feed_header {
    padding-top: 5px;
    .activity_feed_header_info {
      .user_profile_link_span > a {
        font-size: 14px;
        color: #9a9a9a !important;
        font-family: $noto-sans;
      }
      time > a {
        font-family: $noto-sans;
        font-size: 13px;
        color: #9a9a9a;
      }
    }
  }

  .activity_feed_content {
    .activity_feed_content_text {
      > .activity_feed_content_status {
        padding-left: 90px;
        padding-top: 0;
      }
      .activity_feed_content_link {
        padding: 10px;
      }
    }
    .js_mini_feed_comment.comment_mini {
      border-top-width: 0px;
      padding-top: 2px;
      .comment_mini_image {
        top: -15px;
      }
      &:first-child {
        padding-top: 32px;
        .comment_mini_image {
          top: 15px;
        }
      }
      &:last-child {
        padding-bottom: 0;
        .feed_comment_delete_link {
          bottom: 0px;
        }
      }
    }
    .js_view_more_parent span {
      font-family: $noto-sans;
      font-size: 16px;
      line-height: 1.7;
      color: #4d5a6f;
    }
    .js_feed_comment_border {
      background: initial;
      .comment_mini_content_commands {
        padding-left: 20px;
        padding-right: 20px;
        .feed_like_link {
          top: 50%;
          transform: translateY(-50%);
          .js_like_link_toggle{
            background: transparent;
            width: 17px;
            height: 16px;
            position: relative;
            > span {
              display: block;
              position: absolute;
              left: 20px;
              top: -1px;
            }
            &.unlike {
              &::before {
                content: "";
                display: block;

              }
            }
            &.liked {
              &::before {
                content: "";
                display: block;
              }
            }
          }
        }
      }
      .js_comment_like_holder {
        padding-left: 45px;
        .activity_like_holder, .activity_like_holder a {
          font-family: $noto-sans;
          font-size: 13px;
          color: #9a9a9a !important;
        }
        .activity_like_holder::before {
          display: inline-block;
          font-family: "FontAwesome";
          font-style: normal;
          font-weight: normal;
          line-height: inherit;
          font-size: inherit;
          text-rendering: auto;
          transform: translate(0, 0);
          text-indent: 0px !important;
          content: '\a0\b7\a0';
        }
      }
      .feed_options_holder {
        .feed_options {
          display: none !important;
        }
        ul {
          display: block;
          background: transparent;
          box-shadow: none;
          border: none;
          min-width: initial;
        }
        li > a {
          display: block;
          position: relative;
          padding: 0;
          height: 40px;
          line-height: 40px;
          visibility: hidden;
          width: 68px;
          .fa-trash {
            margin-right: 8px;
            display: none;
          }
          &::before {
            content: '';
            display: block;
            height: 15px;
            width: 14px;
            background-image: url("images/ic-trash.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            position: absolute;
            top: 12px;
            left: 7px;
            visibility: visible;
          }
          &:after {
            content: 'Delele';
            font-family: $noto-sans;
            font-size: 13px;
            color: #008b85;
            padding: 0;
            height: 40px;
            line-height: 40px;
            visibility: visible;
            position: absolute;
            right: 0;
          }
        }
      }
      .feed_comment_share_holder {
        right: 60px;
        border-right-width: 0;
        > a {
          display: block;
          position: relative;
          font-family: $noto-sans;
          font-size: 13px;
          color: #008b85;
          &:hover {
            background: transparent;
          }
          &:after {
            display: block;
            content: "";
            position: absolute;
            width: 17px;
            height: 17px;
            background-image: url("images/ic-share.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            top: 30%;
            left: -13px;
          }
        }
        .fa.fa-share {
          display: none;
        }
      }
      .js_feed_comment_view_more_holder {
        background-color: #f0ffff;
        padding: 0 0px;
        .comment_mini {
          .comment_mini_image img {
            width: 50px;
            height: 50px;
            border-radius: 50px;
          }
          .comment_mini_content {
            margin-left: 70px;
            .user_profile_link_span {
              font-family: $noto-sans;
              font-size: 14px;
              color: #9a9a9a;
              display: block;
              margin-bottom: 5px;
            }
            .comment_mini_text {
              margin-left: 0;
              font-family: $noto-sans;
              font-size: 14px;
              letter-spacing: -0.1px;
              color: #506077;
            }
            .comment_mini_action {
              margin-top: 10px;
              .js_like_link_toggle{
                &.unlike {
                  &::before {
                    content: "";
                    display: inline-block;
                    position: relative;
                    top: 3px;
                    margin-right: 5px;
                  }
                }
                &.liked {
                  &::before {
                    content: "";
                    display: inline-block;
                    position: relative;
                    top: 3px;
                    margin-right: 5px;
                  }
                }
              }
              .js_like_link_holder {
                display: none !important;
              }
            }
          }
        }
      }
      .js_feed_comment_form {
        .comment_mini.comment_mini_end {
          background-color: #f0ffff;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          padding-top: 20px;
        }
        .comment_mini_image {
          display: none !important;
        }
        .comment_mini_textarea_holder {
          margin-left: 0px;
        }
        textarea {
          min-height: 55px!important;
          background-color: #fff;
          border: 1px solid #e4e4e4;
          border-radius: 5px;
          padding: 16px 20px;
        }
      }
    }
  } 

  .js_like_link_toggle{
    background: transparent;
    width: 17px;
    height: 16px;
    position: relative;
    > span {
      font-family: $noto-sans;
      font-size: 13px;
      color: #008b85;
      transition: all 0.5s ease;
    }
    &::before {
      transition: all 0.5s ease;
      content: "";
    }
    &.unlike {
      &::before {
        content: "";
        display: block;
        background-image: url("images/ic-unlike.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 17px;
        height: 16px;
      }
    }
    &.liked {
      span {color: #ff7079;}
      &::before {
        content: "";
        display: block;
        background-image: url("images/ic-like.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 17px;
        height: 16px;
      }
    }
  }

  .time-stamp {
    margin-left: 10px;
    font-family: $noto-sans;
    font-size: 13px;
    color: #9a9a9a;
    .quickEdit,
    .quickEdit:hover {
      color: #008b85;
      margin-left: 10px;
    }
  }
  .feed_comment_delete_link {
    display: block !important;
    top: initial;
    bottom: 20px;
    left: 165px;
    a {
      position: relative;
      &::before {
        content: '';
        display: block;
        height: 15px;
        width: 14px;
        background-image: url("images/ic-trash.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    span {
      font-family: $noto-sans;
      font-size: 13px;
      color: #008b85;
      display: block !important;
      position: relative;
      left: 20px;
    }
  }
}