.btn, .button {
  padding: 5px 30px;
  color: $c-white;
  font-size: 16px;
  font-family: $noto-sans;
  border-radius: 100px;
  background-color: #5dc5ce;
  border-width: 0;
  font-weight: bold;
  text-transform: initial;
  transition: all 0.5s ease;

  &.login {
    padding: 4px 14px 6px 19px;
    border-radius: 52px;
    border: solid 1px #5dc5ce;
    font-size: 16px;
    line-height: 1;
    color: #5dc5ce;
    background: transparent;
  }
  &:hover, &:focus, &:active {
    background-color: #2c5b7c;
  }
}