.container-full {
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $screen-m) {
    padding: 0 60px;
  }

  @media (min-width: $screen-l) {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $screen-lg) {
    // padding: 0 75px;
  }
}