#section-footer {
  width: 100%;
  height: 50px;
  opacity: 0.6;
  background-color: #155b6b;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.43);
  margin: 0;
  padding: 0;
  max-height: 70px;


  .footer-menu {
    margin-top: 0px;
    transform: translateY(15px);
    li {
      position: relative;
      margin-left: 32px;
      padding: 0;
      a {
        font-family: $noto-sans;
        font-size: 14px;
        color: #ffffff;
      }
      a:before {
        content: none;
      }
      &:before {
        content: "";
        width: 4px;
        height: 4px;
        background: $c-white;
        border-radius: 10px;
        display: block;
        position: absolute;
        left: 0;
        left: -16px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:first-child {
        margin-left: 0;
      }
      &:first-child:before {
        display: none;
      }
    }
  }
}