.navbar {
  background-color: #475f70;

  // For visible-md and visible-lg
  .nav.visible-md {
    height: 55px;
    @media (min-width: 992px) {
      width: calc(100% + 40px);
      margin: 0 -20px;
    }

    @media (min-width: $screen-l) {
      max-width: 1150px;
    }

    li {
      padding-top: 18px;
      padding-bottom: 17px;
      text-align: left;
      &:last-child {
        margin-right: 0 !important;
      }
    }
    li a {
      font-family: $noto-sans;
      font-size: 14px;
      color: #ffffff;
      line-height: 1;
      background: transparent;
      padding: 0;
      &.menu_is_selected {
        color: #5dc5ce;
        &:hover {
          background: transparent;
        }
      }
    }
  }

}