#header_search_form {
  position: relative;
  top: 10px;

  span {
    left: 0;
  }
  input {
    padding-left: 41px;
    padding-right: 20px;
    width: 269px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid #fff !important;
    background: #103752;
    color: white;
    &::placeholder {
      color: white;
      font-family: $noto-sans;
      font-size: 14px;
    }
  }
  span.form-control-feedback {
    background: transparent;
    color: white;
    left: 20px;
    width: 16px;
    height: 16px;
    top: -5px;
  }
  .fa-search::before {
    font-size: 16px;
  }
}