.sticky-bar {
  background: #103752;
  padding-top: 18px;
  padding-bottom: 17px;

  .guest_login_small.pull-right {
    display: none;
  }
  .site-logo {
    margin-left: -20px;
  }

  .site-logo-icon i {
    width: 123px;
    height: 46px;
    object-fit: contain;
  }
}