#page_contact_index{
  
  height: 100vh;

	&._is_guest_user {
		.site-logo-icon i {
			margin-left: 20px;
		}		
		#main #content-stage {
			min-height: 495px !important;
			textarea {
				height: 255px !important;
			}
		}
	}


  #content-holder {
  	padding-left: 0;
  }
	
  #main{
  	background-color: #103752;
  	margin-bottom: 0px;
  	padding-bottom: 20px;
  	height: calc(100% - 187px);

	  #content-stage{
	    max-width: 853px;
	    min-height: 0 !important;
	    max-height: 100%;
	    width: 100%;
	    height: 100%;
	    padding-top:20px;
	    padding-left: 20px;
	    padding-right:30px;
	    padding-bottom:20px;
	    border-radius: 5px;

	    .breadcrumbs-top{
	      padding-left: 0px;
	      border-bottom: transparent;
	      margin-bottom:0px;

	      .breadcrumbs-list a{
	        font-family: $noto-sans;
	        font-size: 16px;
	        font-weight: bold;
	        color: #ff7079;
	        line-height: 100%
	      }
	    }

	    #content{
	      padding-left:0px;
	      padding-right:0px;

	      form { 
	        .table_left,
	        .extra_info{
	          padding-bottom:0px;
	          font-family: $noto-sans;
	          font-size: 13px;
	          color: #9a9a9a;
	        }

	        .form-group:first-child {
	        	.table_right {
	        		position: relative;
	        		height: 40px;
	        		&:before {
	        			content: "";
	        			display: block;
	        			position: absolute;
	        			top: 0;
	        			left: 0;
	        			width: 100%;
	        			border: solid 1px #e4e4e4;
	        			border-radius: 30px;
	        			height: 100%;
	        			width: 50%;
	        		}
	        	}
	        }

	        .table_right{
	          padding-bottom:0px;
	        }

	        select, input[type="text"]{
	          border-radius: 30px;
	          padding-top:7px;
	          padding-left: 20px;
	          padding-right: 20px;
	          background-color: #fff;
	          border: solid 1px #e4e4e4;
	          width:50%;
	        }

	        textarea{
	          border-radius: 5px;
	          background-color: #fff;
	          border: solid 1px #e4e4e4;
	          height: 110px;
	        }

	        select {
	        	border-color: transparent;
	        	margin-left: 10px;
	        	width: calc(50% - 25px);
	        	z-index: 1;
	        	border-top-width: 0;
	        	height: 38px;
	        	position: absolute;
	        	top: 1px;
	        	background: transparent;
	        }

	        label,
	        .captcha_title{
	          font-family: $noto-sans;
	          font-weight:bold;
	          font-size: 14px;
	          line-height:1.1em;
	          color: #406077;

	          .required{
	          	display:none;
	          }
	        }

	        input[type="submit"]{
	          width:100%;
	        }

	        .main_break{
	          position:relative;
	        }

	        .table:nth-child(5){
	          position: absolute;
	          top:20px;
	          right:0;
	          width:50%;
	          padding-left:30px;
	        }

	        .table:nth-child(6){
	          width:50%;
	          float:right;
	          padding-left:30px;
	          height:20px;
	          position: relative;

	          .table_left{
	          	position:absolute;
	          	left: 50px;
	            margin-top:10px;
	            display:inline-block;
	          }

	          .table_right{
	          	position: absolute;
	          	top:6px;

	            input[type="checkbox"]{
	              margin-top:8px;
	              width:auto;
	              cursor: pointer;
	              -webkit-appearance: none;
	              -moz-appearance: none;
	              appearance: none;
	              outline: 0
	            }
	            input[type="checkbox"]:after {
	              display:block;
	              content: "";
	              width: 10px;
	              height: 10px;
	              vertical-align:middle;
	              background-image: url('images/ic-checkbox.png');
	              background-size: 20px 10px;
	              background-repeat: no-repeat;
	              cursor:pointer;
	              border: 1px solid #e4e4e4;
	              border-radius: 2px;
	            }
	            input[type="checkbox"]:checked:after {
	            	content: "";
	              background-repeat: no-repeat;
	              background-size: 20px 10px;
	              background-image: url('images/ic-checkbox.png');
	              background-position: -10px 0;
	              border-width: 0px;
	              border-radius: 2px;
	            }
	          }
	        }

	        .table_clear:not(:last-child){
	          width:50%;
	          float:left;
	        }

	        .table_clear:last-child{
	          width:50%;
	          float:right;
	          padding-left:30px;
	          padding-top: 81px;

	          input[type="submit"]{
	          	height: 40px;
	          }
	        }

	        >div:first-child{
	          label{
	            margin-top:20px;
	            margin-left:20px;
	          }
	        }

	        div{
	          label{
	            margin-top:13px;
	            margin-left: 20px;
	            margin-bottom: 5px;
	          }
	        }
	      }

	    }

	    ._block_content>.main_break>.table_clear{
	      display:none;
	    }

	    .captcha_holder{
	      padding-right:0px;
	      position: relative;

	      .captcha_title{
	      	padding-left: 20px;
	      }

	      #js_captcha_image{
	      	border-radius: 5px;
	        background-color: #fff;
	        border: solid 1px #e4e4e4;
	      }

	      .captcha_form{
	      	position: relative;

	      	.extra_info{
	      		position: absolute;
	      		top:0;
	      		left:20px;
	      	}

	      	input{
	      		position: absolute;
	      		top:30px;
	      	}
	      }

	      >a{
	      	img{
		      display:none;
		    }
	      }

	      >a::before{
		    	@extend .ic-refreshcapt;
		    	content: '';
		    	height: 20px;
		    	width: 28px;
		    	display: block;
		    	left: 145px;
		    	position: absolute;
		    	top: 30px;
		    } 
	    }

	    .captcha_form{
	      border-top:transparent;

	      input{
	        width:100% !important;
	      }
	    }
	  }
  }
}