body {
  &#page_core_index-member {
    #main {margin-bottom: 0;}
  }
  &#page_core_index-visitor {
    opacity: 0;
    transition: all 1.75s ease;
    background: #fff !important;
    &.active {
      opacity: 1;
    }
  }
}

#pf_techie_mode, #js_global_tooltip {
  display: none !important;
}