#page_core_index-member,
#page_profile_index {
  #main {
    background: #103752;
  }
  
  /* MAIN SECTION - ROW CONTAINER */
  #main {
    .row-container {
      #left,
      #content-holder,
      #right {
        margin-top: 49px;
        padding: 0;
      }

      #content-stage {
        padding-left: 10px;
        padding-right: 10px;
      }

      #left {
        padding-right: 10px;
        .block {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
        }
      }

      #right {
        padding-left: 10px;
        .block {
          .title {
            text-transform: inherit;
          }
        }
      }

      .block {
        border-radius: 5px;
        padding: 0;
        font-family: $noto-sans;
        .title {
          text-transform: lowercase;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: .3px;
          -webkit-font-smoothing: antialiased;
          line-height: 22px;
          padding: 20px 30px 0 31px !important;
          border-bottom: none;
          position: relative;
          &:after {
            position: absolute;
            left: 30px;
            bottom: -7px;
            content: '';
            width: 47px;
            height: 2px;
            z-index: 1;
          }
        }
        .content {
          padding-left: 0;
          padding-top: 30px;
          .extra_info {
            padding-left: 30px;
            padding-right: 30px;
          }
        }

        .block_listing_inline ul li {
          margin-bottom: 15px;
          padding-left: 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      
      // FRIEND BOX OF HOMEPAGE & USERPAGE
      #js_block_border_friend_mini,
      #js_block_content_profile_friend {          
        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
        span {
          display: inline-block;
          padding-left: 10px;
          font-weight: bold;
          font-size: 14px;
          color: #506077;
        }
        .block_listing_inline {
          margin-top: 20px;
        }
        a.no_image_user {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          vertical-align: middle;
          background: burlywood;
          span {
            padding-left: 2px;
            padding-top: 1px;
            top: 8px;
          }
        }     
      }

      /* USERPAGE PHOTOS */
      #js_block_border_photo_my-photo {
        .content {
          padding: 0 !important;
          .t_center.img_thumbnail {
            width: 100% !important;
            float: none !important;
            margin: 5px auto;
            &:last-child {
              margin-top: -30px !important;
            }
          }
        }
      }

      #js_block_content_profile_friend {
        .user_rows_mini {
          margin-top: 5px;
          .user_profile_link_span {
            a {
              color: #464b5f !important;
            }
          }
        }
      }

      // FEATURED LISTING
      #js_block_border_marketplace_featured {
        .content {
          padding-bottom: 0;
        }
        .block_listing {
          li {
            border-top: none;
          }
        }
        .block_listing_image_feature {
          max-height: 155px;
          margin-bottom: 61px;
          overflow: inherit;
          .mp_listing_image {
            img {
              width: 100%;
              height: 156px;
              max-height: 156px;
            }
          }
          .other_listing_image {
            bottom: -61px;
            height: 61px;
            background: #f0f0f0;
            padding: 0;
            padding-left: 30px;
            .extra_info_middot {
              float: none;
              padding-top: 9px;
              li {
                padding-right: 12px;
              }
              ._image_32,
              .more_image span {
                width: 43px;
                height: 43px;
                font-size: 18px;
                line-height: 40px;
                margin-right: 0;
                border: none;
              }
              .more_image {
                padding: 0;
                width: 43px;
                height: 43px;
                display: inline-block;
              }
            }
          }
        }
        .block_listing_title {
          padding-top: 10px !important;
          padding-left: 0px;
          a {
            font-weight: 700 !important;
            color: #506077;
            padding-left: 30px;
          }
          .extra_info {
            padding-top: 2px;
          }
          .extra_info_middot {
            li {
              padding-right: 3px;
              color: #9a9a9a;
              font-size: 13px;
            }
            li.mp_item_price {
              color: #ff7079 !important;
              font-weight: bold;
              font-size: 14px;
            }
          }
        }
      }

      // HASHTAGS
      #js_block_border_tag_cloud {
        .tag_cloud {
          ul {
            li {
              padding: 5px 30px 0 30px;
              a {
                font-size: 16px;
                color: #144fa9;
                line-height: 22px;
                text-transform: capitalize;
              }
              &:first-child {
                padding-top: 0;
              }
            }
          }
        }
        .extra_info {
          font-size: 13px;
          color: #9a9a9a;
          border-top: 2px solid #d8d8d8;
          padding-left: 0;
          padding-right: 0;
          margin: 0 30px;
          margin-top: 10px;
          padding-top: 10px;
        }
        .message {
          color: #144fa9;
          background-color: #fff;
          padding: 10px 30px;
        }
      }
    }
    
    // FEATURED PHOTOS
    #js_block_border_photo_featured {
      #js_block_content_featured_photo {
        padding-top: 35px;
        padding-bottom: 25px;
        .t_center {
          img {
            width: 100%;
          }
        }
      }
      .bottom {
        display: none;
      }
    }

    // SPONSORED ADS
    #js_block_border_ad_display {
      .content {
        border-radius: 5px;
      }
      .ad_unit_multi_ad {
        padding: 0;
        .ad_unit_multi_ad_content {
          height: 157px;
          .ad_unit_multi_ad_image {
            background: #fff;
            height: 100%;
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
        .ad_unit_multi_ad_title {
          font-size: 14px;
          line-height: 1.1;
          color: #506077;
          font-weight: bold;
          padding: 10px 30px 3px 30px;
          -webkit-font-smoothing: antialiased;
        }
        .ad_unit_multi_ad_url {
          font-size: 13px;
          color: #9a9a9a;
          padding: 0 30px;
        }
      }
    }
  }
  .activity_feed_form_share {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #ffffff !important;
    ul.activity_feed_form_attach {
      li:nth-child(2) a.active {
        border-top-left-radius: 5px;
      }
      a {
        border-color: transparent;          
        font-family: $noto-sans;
        font-size: 16px;
        padding-right: 0;
        &.active {color: #ff7079;}
        &:after {display: none;}
      }
    }
    > div.clear {
      border-top: none;
    }
  }

  .activity_feed_form {
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: -1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    .activity_feed_form_button {
      display: block !important;
      margin: 0 auto;
    }
    form textarea {
      min-height: 55px!important;
      background-color: #fff;
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      padding: 16px 20px;
      &::placeholder {
        font-family: $noto-sans;
        font-size: 13px;
        color: #8d9bb0;
        font-style: italic;
      }
    }
    .activity_feed_form_button_position {
      border-top: none;
      margin-top: 8px;
    }
    .activity_feed_form_button_position_button input {
      font-family: $noto-sans;
      font-size: 16px;
      padding: 5px 30px;
      min-width: initial;
      text-transform: capitalize;
      color: $c-white;
    }
    .privacy_setting_mini {
      .txt-label {
        font-weight: normal;
      }
      .btn {
        background: $c-white;
        color: #9a9a9a;
        padding-left: 0;
      }
    }

    .activity_feed_form_button_status_info {
      padding: 0;
      textarea {
        border-color: transparent;
        padding-left: 0;
        min-height: 87px!important;
        border-radius: 0;
        border-bottom: solid 2px #e4e4e4;
      }
    }

    #global_attachment_photo {
      height: 50px;
      border-radius: 5px;
      background-color: #f9fafa;
      box-shadow: 0.5px 1.5px 3px 0 rgba(0, 0, 0, 0.21);
      margin-bottom: 14px;
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;
      .extra_info {
        display: none;
      }
      #global_attachment_photo_file_input {
        width: 130px;
        height: 50px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 50px;
        &:before {
          content: "";
          display: block;
          width: 21px;
          height: 15px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
          position: absolute;
          background-image: url("images/ic-image.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        &:after {
          content: "Choose a photo";
          display: block;
          width: 130px;
          height: 28px;
          background: transparent;
          position: absolute;
          z-index: 2;
          left: 35px;
          top: 50%;
          font-family: $noto-sans;
          font-size: 14px;
          line-height: 2;
          color: #506077;
          transform: translateY(-50%);
        }
      }
    }
  }

  .activity_feed_form_holder {

  }
}

#page_core_index-member {
  .block {
    .title {
      color: #ff7079;
      &:after {
        background: #ff7079;
      }
    }
  }
}

#page_profile_index {
  .block {
    .title {
      color: #ff7079 !important;
      &:after {
        background: #ff7079;
      }
    }
  }
}

#js_feed_content {
    background-color: transparent;
}

.js_feed_view_more_entry_holder {

}
