.login-form {
  display: none;
  padding: 0 !important;
}

#page_core_index-visitor {
  // Body Page
  #main {
    height: calc(100vh - 140px);
    margin: 0;
    > .row_image {
      margin: 0;
      max-width: 100vw;
      max-height: 100vh;
      width: 100%;
      height: 100%;
    }
    .row-container {
      margin: 0 auto;
      padding: 0;
    }
  }

  .sticky-bar {
    pointer-events: none;
    .site-logo {
      margin-left: 0px;
    }
  }

  #section-footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
  }

  #right {
    margin: 0;
    width: initial;
    padding: 0;
  }

  .welcome-message h2 {
    width: 439px;
    opacity: 0.8;
    font-family: $bebas-neue;
    font-size: 65px;
    line-height: 0.9;
    margin: 0;
    position: absolute;
    top: 62px;
    left: 0;
    color: $c-white;
    mix-blend-mode: color-dodge;
  }

  #right #js_block_border_user_register {
    max-width: 306px;
    max-height: 360px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(21,91,107,0.5)!important;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.33);
    margin-top: 82px;
    position: relative;

    .title, .login-btn {
      line-height: 55px;
      font-family: $noto-sans;
      font-weight: bold;
      display: inline-block;
      font-size: 20px;
      width: 50%;
      position: absolute;
      border-top-left-radius: 5px;
      left: 0;
      top: 0;
      height: 57px;
      text-align: center;
      cursor: pointer;
      background-color: #9fb9c1;
      color: #506077 !important;
      @include transition(0.25s all);
      &.btn-active {
        background-color: transparent;
        border-top-right-radius: 5px;
        color: #fff !important;
      }
    }

    .content:not(.login-form) {
      margin-top: 47px;
    }

    .table {
      margin-bottom: 32px;
      .table_right{
        padding-bottom: 0;
      }
      &:last-child {
        margin-bottom: 19px;
      }
    }

    .login-btn {
      line-height: 1.4;
      border-radius: 0;
      display: block !important;
      right: 0;
      left: initial;
      border-top-right-radius: 5px;
      padding-top: 15px;
      text-align: center;
      @include transition(0.25s all);
      &.btn-active {
        border-top-right-radius: 0px;
      }
    }

    #js_registration_holder {
      margin-top: 20px;
      position: relative;
      transition: all 0.5s ease-in-out;
      &.login {
        min-height: 180px;
      }
      &.signup {
        min-height: 266px;
      }
    }

    form {
      position: absolute;
      top: 10px;
      width: 100%;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.15s, opacity 0.15s ease;
      display: block !important;
      input.form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: $c-white;
        font-family: $noto-sans;
        font-size: 13px;
        padding: 0;
        height: 18px;
        padding-bottom: 5px;
        &::placeholder {
          color: white;
          font-style: italic;
        }
      }
      p {
        color: white;
        font-family: $noto-sans;
        font-size: 13px;
        margin-bottom: 31px;
        a {
          letter-spacing: -0.1px;
          color: #81e0e8;
        }
      }
      .button {
        width: 100%;
        transition: all 0.5s ease;
      }
      &.active {
        display: block;
        z-index: 9;
        visibility: visible;
        opacity: 1;
        transition: opacity 2.5s ease;
      }
    }

    .login-form {
      .form-group {
        &:nth-child(2) {
          margin-bottom: 0;
        }
        &:nth-child(3) {
          margin-top: 15px;
        }
      }
      .button {
        margin-top: -5px;
      }
      .p_top_base.checkbox {
        input[type="checkbox"] {
          left: 18px;
          top: 1px;
          opacity: 0;
          width: 118px;
          cursor: pointer;
        }
        input[type="checkbox"] + label span {
          display:inline-block;
          width: 10px;
          height: 10px;
          margin: -3px 8px 0 0;
          vertical-align:middle;
          background-image: url('images/ic-checkbox.png');
          background-size: 20px 10px;
          background-repeat: no-repeat;
          cursor:pointer;
        }
        input[type="checkbox"]:checked + label span {
          background-repeat: no-repeat;
          background-size: 20px 10px;
          background-image: url('images/ic-checkbox.png');
          background-position: -10px 0;
        }
        li label {
          color: white;
          font-family: $noto-sans;
          font-size: 13px;
          margin-bottom: 0px;
          padding-left: 0;
        }
        li > a {
          color: white;
          font-family: $noto-sans;
          font-size: 13px;
          margin-bottom: 25px;
          display: block;
          margin-top: 5px;
          color: #81e0e8;
        }
      }
    }
  }
}
