/* 
 * TABLET STYLE
 */
@media screen and (max-width: 991px) {

  /* NAVIGATION. */
  #section-header {
    .container-full {
      position: relative;
    }
    .navbar {
      height: 54px;
      background: #103752;
      &-header {
        background: transparent;

        .navbar-toggle {
          margin: 7px -12px 7px 10px;
        }

        .navbar-brand {
          min-width: 93px;
          margin-left: 5px;
        }

        .guest_login_small {
          display: none;
        }
      }

      &-collapse {
        position: absolute; 
        width: calc(100% - 60px);
        z-index: 100;
        background: #103752;
        .nav {
          &:last-child {
            display: none !important;
          }
        }

        .login-menu-btns-xs {
          display: block;
        }
      }
    }
  }

  /* BODY. */
  #page_core_index-visitor {
    #main {
      height: auto;
    }

    .row_image {
      min-height: inherit;
    }

    #main>.row_image {
      height: calc(100vh - 54px);
      max-height: inherit;
    }

    .welcome-message h2 {
      left: 30px;
      font-size: 55px;
      line-height: 58px;
    }

    #right {
      margin-right: 40px;

      #js_block_border_user_register {
        margin-top: 320px;
        max-height: 375px;
        form {
          padding: 15px !important;
        }
      }
    }

    #section-footer {
      height: 50px;
      opacity: 0.6;
      background-color: #155b6b;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);

      .footer-menu {
        margin-top: 28px;
      }
    }
  }
}

/* 
 * TABLET - MOBILE GAP 
 */

@media screen and (min-width: $screen-s) and (max-width: $screen-sm-min) {
  /* BODY. */
  #page_core_index-visitor {

    .welcome-message h2 {
      left: 0;
    }

    #right {
      width: 100%;
      margin-right: 0;

      #js_block_border_user_register {
        max-width: inherit;
        margin: auto;
        margin-top: 320px;
      }
    }
  }
}

/*
 * MOBILE STYLE
 */
@media screen and (max-width: $screen-s-min) {

  .container-full {
    padding: 0 35px;
  }

  /* NAVIGATION. */
  #section-header {
    .container-full {
      padding: 0 10px;
    }

    .navbar {
      &-header {
        .navbar-toggle {
          margin: 10px;
        }
      }

      &-collapse {
        width: calc(100% - 20px);
      }
    }
  }

  /* BODY. */
  #page_core_index-visitor {
    #main>.row_image {
      height: calc(100vh - 54px);
    }

    .welcome-message h2 {
      left: 0;
      top: 12px;
      width: 284px;
      font-size: 32px;
      line-height: 36px;
    }

    #right {
      width: 100%;
      margin-top: 100px;
      margin-right: 0;

      #js_block_border_user_register {
        max-width: inherit;
        margin: auto;
        margin-top: 55px;
        margin-left: 0;
      }
    }

    #section-footer {
      .footer-menu {
        margin-top: 18px;
        padding-left: 6px;
      }
    }
  }
}

/* 
 * IPHONE 5 (width 320px)
 */

@media screen and (max-width: 320px) {
  /* BODY. */
  #page_core_index-visitor {
    #main>.row_image {
      height: calc(100vh + 54px);
    }
    #right {
      #js_block_border_user_register {
        form {
          padding: 0px !important;
        }
      }
    }
    #section-footer {
      .footer-menu {
        margin-top: 18px;
        padding-left: 0;
        li {
          margin-left: 15px;
          &:before {
            left: -10px;
          }
        }
      }
    }
  }
}