#page_profile_index{
	.location_1{
		.title{
			a,
			a:hover{
				font-family:$noto-sans;
				font-weight: bold;
				font-size: 16px;
				color: #ffa352 !important;
				padding-left:15px;

				span{
					display:inline;
					position: absolute;
					left: 0;
					right: auto;
					top:0;
					background: #fff;
					padding:0px;
					color: #ffa352 !important;
				}
			}

			&:after{
				background: #ffa352 !important;
			}
		}

		.content{
			padding-left: 30px !important;
			padding-right: 30px !important;

			.user_rows,
			.user_rows:hover{
				width: 100%;
				clear:both;
				display:block;
				height: 35px !important;
				border: 0px !important;
				margin: 0px 0px 15px 0px !important;

				.user_rows_image{
					height:35px;
					width: 35px;
					border-radius: 100%;
					display:inline-block;
					a{
						width: 100% !important;
						height: 100% !important;
						border-radius: 100%;
						position: relative;

						img{
							width: 100%;
							height: 100%;
							border-radius: 100%;
						}

						span{
							font-size: 1em;
							position: absolute;
							top: 50%;
							left: 50%;
							width: auto !important;
							transform: translateX(-50%) translateY(-50%);
						}
					}
				}

				.user_profile_link_span{
					position: absolute;
					top:50%;
					left:48px;
					transform: translateY(-50%);

					&>a{
						position: relative !important;
						font-size: $noto-sans;
						font-weight: bold;
						font-size: 14px;
						line-height: 16.1px;
						color: #464b5f !important;
						display: inline-block;
						vertical-align: middle;
						text-indent: 0px !important;
						height: auto;
					}
				}
			}
		}
	}
}