#page_profile_index,
#page_profile_private{
	background-color: #103752;

	#main .container-full{
		
		.row:first-child{
			>.col-md-12{
				padding-left:0px;
				padding-right:0px;
			}

			.profiles_banner{
				margin-top:0px;

				.cover_shadown{
					background: linear-gradient(to top,rgba(16,55,82,1) 50%, rgba(255,255,255,0) 100%);
					height:200px !important;
					bottom: -40px;
				}
				.profile_image{
					border-radius: 100px;
					background-color: transparent;
					border: transparent;
					width: 120px;
					height: 120px;
					margin-bottom: 20px;
					left:0 !important;

					.profile_image_holder{
						border-radius: 100px;

						img{
							border-radius:100px;
						}
					}

					.no_image_user{
						width: 120px !important;
						height: 120px !important;

						span{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translateX(-50%) translateY(-50%);
						}
					}
				}

				.profiles_info 
				{
					padding-left: 136px !important;
					bottom: 3px!important;

					h1 a{
						font-family:$noto-sans;
						font-size: 28px;
						color: #fff;
						font-weight: 600 !important;
						line-height:100% !important;
					}
					.profiles_extra_info {
						margin-top: 12px;
					}
				}

				.pending-friend-request{
					background-color:transparent;
					font-family: $noto-sans;
					font-size: 14px;
					color: #fff;
					padding:0px !important;
				}
			}

			.profiles_menu{
				background-color: transparent !important;
				margin-bottom: -40px;
				>ul{
					padding-left: 120px;
					li:not(:first-child){
						height:auto !important;
						a{
							font-family: $noto-sans;
							font-size: 16px;
							color: #fff;
							font-weight: bold;
							line-height: 100% !important;
							padding-top:10px;
							padding-left: 0px !important;
							padding-right: 0px !important;
							margin-left: 15px;
							margin-right: 15px;
						}
					}

					li:nth-child(4){
						span{
							display:none;
						}
					}
				}
			}

			.profile_viewer_actions{ 
				right: 76px;

				a{
					background-color: transparent;
					font-family:$noto-sans;
					font-size: 14px;
					font-weight: normal;
					padding: 0px 0px 22px 0px;
					margin-left: 30px;
				}
			}
		}
		.profiles_owner_actions{
			display:none;
		}
	}

	.cancel-friend-request{
		a{
			font-family: $noto-sans;
			font-size: 14px;
			color: #ff7079;
		}
	}

	#main .row-container .block .block_listing_inline ul li {
		float: initial;
	}
	#js_block_content_profile_friend a.no_image_user span {
		max-width: 25px;
		overflow: hidden;
		margin: 0 auto;
	}
}

#page_profile_index>div:first-of-type,
#page_profile_private>div:first-of-type{
	width: 342px !important; 
	height: 196px;
	padding:20px 20px 15px 20px;
	background-color: #fff;
	border-radius:5px;

	.js_box_title{
		padding: 0px;
		font-family: $noto-sans;
		font-weight: bold;
		color: #ff7079;
		font-size: 16px;
		border-bottom: transparent;

		&:after{
			width: 40px;
			height: 2px;
			content: '';
			position: absolute;
			top: 44px;
			left: 20px;
			z-index:3;
			background-color: #ff7079;
		}
	}

	.js_box_content{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px !important;
		padding-bottom:0px !important;

		.p_top_15{
			padding-top:24px !important;
			padding-bottom:0px !important;
		}

		form{
			padding-top:10px;

			.request_text{
				padding-top:5px;
				font-family: $noto-sans;
				font-size: 14px;
				letter-spacing: -0.1px;
				color: #506077;
			}
		}
	}

	#profile_picture_container{
		border-radius: 50px;
		width: 50px;
		height: 50px;

		._size__50{
			border-radius: 50px;

			&:hover{
				border-radius: 50px;
			}
		}

		

		img{
			border-radius: 50px;
			height:50px;
			width:50px;
		}

		a{
			span{
				width: 100%;
				text-align: center;
			}
		}
	}

	#js_process_request{
		.go_left{
			margin-right: 12px;
			display:inline-block;
			padding-right: 0px !important;
		}
	}

	.js_box_close {
		top:20px !important;
		right:20px !important;

		a{
			background: url(../assets/images/ic-close.png);
			width: 12px;
			height: 12px;
			background-repeat: no-repeat;
			background-size: 12px 12px;
			background-position: 50% 50%;
		}

		i{
			display:none;
		}
	}

	#container_submit_friend_request input{
		font-family: $noto-sans;
		font-weight: bold;
	}
}