<div class="block" id="js_block_border_ad_display">
    <div class="title">
        {{ _p('ad.sponsored') }}
    </div>
    <div class="content">
        <div class="js_ad_space_parent">
            <div id="js_ad_space_{{ iBlockId }}" class="t_center ad_space">
                <div class="multi_ad_holder">
                    {% for blockAd in aBlockAds %}
                        {% set fileUrl = '/PF.Base/file/pic/ad/' %}
                        {% set url = url()|split('/') %}
                        {% set baseUrl = [ url[0], '//', url[2], fileUrl, blockAd.image_path ] | join %}
                        {% set imageUrl =  baseUrl | replace({'%s': ''}) %}
                        <div class="ad_unit_multi_ad" onclick="window.open('{{ url() }}ad/?id={{ blockAd.ad_id }} ')">
                            <div class="ad_unit_multi_ad_content">
                                <div class="ad_unit_multi_ad_image js_ad_image">
                                    <img src="{{ imageUrl }}">
                                </div>
                            </div>
                            <div class="ad_unit_multi_ad_title">
                                {{ blockAd.title }}
                            </div>
                            <div class="ad_unit_multi_ad_url">
                                {{ blockAd.trimmed_url }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>