{% if is_user() %}
<nav class="pull-right">
    <ul class="list-inline header-right-menu {% if aGlobalUser.user_image is empty %} no-avatar {% endif %}">
        <li class="pl-5" id="hd-user">
            {% if aGlobalUser.user_image is empty %}
            <a href="{{ url(aGlobalUser.user_name) }}" title="{{ aGlobalUser.full_name }}" class="no_image_user _size__50 _gender_">
                <span><i>{{ aGlobalUser.full_name[:2] }}</i></span>
                <i class="name">{{ aGlobalUser.full_name }}</i>
                {% else %}
            <a href="{{ url(aGlobalUser.user_name) }}" title="{{ aGlobalUser.full_name }}">
                {% set localtion = permalink('')|split('/') %}
                {% set user_image = aGlobalUser.user_image|replace({'%s': '_50_square'}) %}
                {% set baseURL = localtion[0] ~ '//' ~ localtion[2] ~ '/PF.Base/file/pic/user/' ~ user_image %}
                <img src="{{baseURL}}" data-src="{{ baseURL }}" alt="{{ aGlobalUser.full_name }}" class="_image__50_square image_deferred  built has_image js_user_image">
                <span>{{ aGlobalUser.full_name }}</span>
            {% endif %}
            </a>
        </li>
        <li class="pl-0" id="hd-cof">
            <a href="#"
               class="btn-abr"
               data-toggle="dropdown"
               type="button"
               aria-haspopup="true"
               aria-expanded="false">
                <span class="fa fa-cog"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dont-unbind  {% if is_admin() == true %} is_admin {% endif %}">
                <li role="presentation">
                    <a href="{{url ('user.setting')}}" class="no_ajax">
                        <i class="fa fa-cog"></i>
                        {{ _p('user.account_settings') }}
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{url ('user.profile')}}" class="no_ajax">
                        <i class="fa fa-edit"></i>
                        {{ _p('core.edit_profile') }}
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{url ('friend')}}" class="no_ajax">
                        <i class="fa fa-group"></i>
                        {{ _p('core.manage_friends') }}
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{url ('user.privacy')}}" class="no_ajax">
                        <i class="fa fa-shield"></i>
                        {{ _p('user.privacy_settings')}}
                    </a>
                </li>
                {% if is_admin() %}
                <li class="divider"></li>
                <li role="presentation">
                    <a href="{{url ('admincp')}}" class="no_ajax">
                        <i class="fa fa-diamond"></i>
                        {{ _p('core.menu_admincp')}}
                    </a>
                </li>
                {% endif %}
                <li class="divider"></li>
                <li role="presentation">
                    <a href="{{url ('user.logout')}}" class="no_ajax">
                        <i class="fa fa-toggle-off"></i>
                        {{ _p('user.logout')}}
                    </a>
                </li>
            </ul>
        </li>
        <li class="pl-5" id="hd-request">
            <a role="button"
               data-toggle="dropdown"
               class="btn-abr"
               data-panel="#request-panel-body"
               data-url="{{url ('friend.panel')}}">
                <i class="fa fa-user-plus"></i>
                <span id="js_total_new_friend_requests"></span>
            </a>
            <div class="dropdown-panel">
                <div class="dropdown-panel-body" id="request-panel-body"></div>
            </div>
        </li>
        <li class="pl-5" id="hd-notification">
            <a role="button"
               class="btn-abr"
               data-panel="#notification-panel-body"
               data-toggle="dropdown"
               data-url="{{url ('notification.panel') }}">
                <i class="fa fa-bell"></i>
                <span id="js_total_new_notifications"></span>
            </a>
            <div class="dropdown-panel">
                <div class="dropdown-panel-body" id="notification-panel-body"></div>
            </div>
        </li>
        <li class="pl-5" id="hd-message">
            <a role="button"
               class="btn-abr"
               data-toggle="dropdown"
               data-panel="#message-panel-body"
               data-url="{{url ('mail.panel')}}">
                <i class="fa fa-comment"></i>
                <span id="js_total_new_messages"></span>
            </a>
            <div class="dropdown-panel">
                <div class="dropdown-panel-body" id="message-panel-body"></div>
            </div>
        </li>
    </ul>
</nav>
{% else %}
<div class="guest_login_small pull-right">
    <a class="btn btn01 btn-success text-uppercase popup" rel="hide_box_title" role="link" href="{{url ('login')}}">
        <i class="fa fa-sign-in"></i> {{ _p('user.login_singular')}}
    </a>
    <a class="btn btn02 btn-warning text-uppercase popup" rel="hide_box_title" role="link" href="{{url ('user.register')}}">
        {{ _p('core.register')}}
    </a>
</div>
{% endif %}