<div class="block">
	<div class="title">
		{{ aFriends|length }} {{ _p('friend.friends') }}
	</div>
	<div class="content" id="js_block_content_profile_friend">
		<div class="user_rows_mini block_listing_inline">
			<ul>
				{% for friend in aFriends %}
					{% set fileUrl = '/PF.Base/file/pic/user/' %}
					{% set url = url()|split('/') %}
					{% set baseUrl = [ url[0], '//', url[2], fileUrl, friend.user_image ] | join %}
					{% set imageUrl =  baseUrl | replace({'%s': '_50_square'}) %}
					<li>
						<a href="{{ url() }}{{ friend.user_name }}/"
							title="{{ friend.full_name }}"
							class="{% if friend.user_image == '' %}no_image_user{% endif %}">
							{% if  friend.user_image != '' %}
								<img data-src="{{ imageUrl }}" 
									src="{{ imageUrl }}" 
									class="js_hover_title" 
									alt="{{ friend.full_name }}" />
							{% else %}
								{% set nameArray = friend.full_name | split(' ') %}
								{% set friendName = '' %}
								{% for name in nameArray %}
									{% set friendName = [ friendName, name | first | upper ] | join %}
								{% endfor %}
								<span>{{ friendName }}
								</span>
							{% endif %}
						</a>
						<span class="user_profile_link_span" id="js_user_name_link_{{ friend.user_name }}">
							<a href="{{ url() }}{{ friend.user_name }}/">{{ friend.full_name }}</a>
						</span>
					</li>	
				{% endfor %}
			</ul>
		</div>
	</div>
</div>