<div class="block">
	{% if iTotalFriendsOnline == 0 %}
		<div class="title">
			{{ _p('friend.no_friends_online') }}
		</div>
	{% else %}
		<div class="title">
			{{ aFriends|length }} friends online
		</div>
	{% endif %}
	<div class="content">
		<div class="block_listing_inline" id="js_block_border_friend_mini">
			<ul>
			{% for friend in aFriends %}
				{% set fileUrl = '/PF.Base/file/pic/user/' %}
				{% set url = url()|split('/') %}
				{% set baseUrl = [ url[0], '//', url[2], fileUrl, friend.user_image ] | join %}
				{% set imageUrl =  baseUrl | replace({'%s': '_50_square'}) %}
				<li>
					<a href="{{ url() }}{{ friend.user_name }}/" 
						title="{{ friend.full_name }}"
						class="{% if friend.user_image == '' %}no_image_user{% endif %}">
						{% if  friend.user_image != '' %}
							<img data-src="{{ imageUrl }}" 
								src="{{ imageUrl }}" 
								class="js_hover_title" 
								alt="{{ friend.full_name }}" />
						{% else %}
							{% set nameArray = friend.full_name | split(' ') %}
							{% set friendName = '' %}
							{% for name in nameArray %}
								{% set friendName = [ friendName, name | first | upper ] | join %}
							{% endfor %}
							<span>{{ friendName }}
							</span>
						{% endif %}
					</a>
					<span>{{ friend.full_name }}</span>
				</li>
			{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
	</div>
</div>