// Import the fonts into the theme CSS
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);

@font-face {
  font-family: 'Bebas Neue Bold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/BebasNeue/BebasNeue-Bold.woff') format('woff');
}

// Font Variables
$noto-sans: 'Noto Sans', sans-serif;
$bebas-neue: 'Bebas Neue Bold', sans-serif;