.ic-pref {
  background-image: url("images/ic-pref.png");
}
.ic-edit-prof {
  background-image: url("images/ic-edit-prof.png");
}
.ic-friend {
  background-image: url("images/ic-friend.png");
}
.ic-lock {
  background-image: url("images/ic-lock.png");
}
.ic-logout {
  background-image: url("images/ic-logout.png");
}
.ic-refreshcapt{
	background-image: url("images/ic-refreshcapt.png");
	background-size: 28px 20px;
	background-repeat: no-repeat;
}