.pos-a {
	position: absolute;
}

.pos-r {
	position: relative;
}

.pos-f {
	position: fixed;
}

.pos-s {
	position: static;
}

.center-block {
	@extend .pos-r;
	float: none !important;
	display: block;
	margin: 0 auto;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.clr-bth {
	&:after {
		display: block;
		clear: both;
	}
}

.display-none {
	display: none;
}