button, a {
	&:active, &:focus, &:hover {
		text-decoration: none !important;
		box-shadow: none !important;
		outline: 0 !important;
	}
	text-decoration: none;
	box-shadow: none;
	outline: 0;
}

ul, ol {
	list-style: none;
	padding: 0;
}

input, textarea {
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}